body{background-color: rgb(255, 255, 96);}
article {
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.a1 span:nth-child(1) { 
    background-color: orange;
}
.a1 span:nth-child(2) { 
    background-color: red;
}
.a1 span:nth-child(3) { 
    background-color: yellow;
}
.a2 span:nth-child(1) { 
    background-color: orange;
}
.a2 span:nth-child(2) { 
    background-color: yellow;
}
.a3 span:nth-child(1) { 
    background-color: yellow;
}.a3 span:nth-child(2) { 
    background-color: yellow;
}
.a3 {border: 2px dashed red;
color: red;}
.bor {border: 2px dashed red;}